button {
    border: 1px solid #212121;
    padding: 10px 20px 10px;
    font-size: 13px !important;
    font-family: 'Calibri', sans-serif !important;
}

div#jMenuTabsSQLMon {
    margin-left: 7%;
    background: rgba(0,0,0,0.7) !important;
}

body {
    background: url('../images/retro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#jMenuTabs {
    background: rgba(0,0,0,0.7) !important;
}

p, label, b {
    color: #ffffff !important;
}

ul.jMenuTabsList.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li {
    display: block !important;
    float: none;
    background: #FFF9C4;
    padding: 0;
    border-radius: 7px;
    margin-bottom: 10px;
    position: relative !important;
    max-width: 100% !important;
}

ul.jMenuTabsList.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li a.ui-tabs-anchor {
    float: none;
    text-align: center;
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px 15px;
}

div#jMenuTabsDatabase {
    margin-left: 7%;
}

div, ul {
    background: rgba(0,0,0,0.7) !important;
}

iframe#iMonitor {
    height: 800px;
    overflow-y: scroll;
    max-height: 800px;
}
div#jMenuTabsSQLMon table {
    height: 100%;
}

div#jMenuTabs > div {
    margin-left: 7%;
    height: 900px;
}

