.App-header{
    background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: -170px 0px;
}
.App-header .row{
    margin: 0;
}
.main-content{
    background: #565656;
    background-blend-mode: overlay;
}
.App-header .side-menu {
    background-color: #dec7de;
    background-image: url('../../assets/images/blu-stripes.png');
    background-blend-mode: overlay;
    background-repeat: repeat;
    padding-left: 35px;
}
.App-header .side-menu .menu-nav span{
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.App-header .side-menu .menu-nav a{
    text-decoration: none;
    color: #76323f;
}
.name-def{
    text-align: left;
}
.name-def h1{
    font-size: 45px;
}
.social-icons, .side-menu{
    display: flex;
}
.side-menu .def-section{
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 30px;
}
.menu-nav{
    position: absolute;
    top: 15px;
    left: 35px;
}
.social-icons li{
    float: left;
    padding-right: 20px;
}
.social-icons ul{
    list-style: none;
    display: inline-block;
    align-self: flex-end;
}
.social-icons a{
    color: #f7f7f7;
}
.name-def rt{
    color: #f7f7f7;
}
.name-def dt{
    color: #76323f;
}