@font-face{
	font-family: 'Lato';
	src: url('font/Lato-Regular.ttf');
}
body{
	font-family: "Consolas", "Courier New", "Courier";
}
#banner{
	background-image: url('../images/banner.jpg');
}
#main-text{
	color: #ffffff;
}
.webdeveloper-info {
    color: #ffffff;
    background: rgba(0,0,0,0.9);
}
#banner .text-header{
    padding: 200px 45px;
}
.socicon {
    color: rgba(250, 250, 250, 0.7);
}
.socicon:hover {
    color: #ffffff;
}
.carousel-item h4 {
    position: absolute;
    bottom: 50px;
    right: 70px;
    color: #ffffff;
    font-size: 70px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 30px;
}
.text-center{
	text-align: center;
}
.sub-title{
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 42px;
	margin-bottom: 70px;
}
.tool-blurb img {
    max-width: 160px;
    max-height: 160px;
}
.d-block{
	display: block;
	width: 100%;
}
#about{
    padding: 50px 0;
    background: #efefef;
}
.tool-blurb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
}