@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/Oxygen-Light.ttf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/Oxygen-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/Oxygen-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Oxygen', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5.h6{
  font-family: 'Merriweather', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
